<div class="h-screen mx-0">
  <header
    class="bg-[#071B33] text-[#ED6E27] h-[4rem] px-4 flex items-center justify-around mx-0 font-semibold "
  >
    <div class="cursor-pointer ">
      <a class="font-semibold text-4xl"> FIXI </a>
    </div>
    <nav class="w-1/2 flex justify-around text-xl">
      <a> Home </a>
      <a> Empleos </a>
      <a> About</a>
    </nav>
    <div
      class="rounded-md bg-white px-4 py-1 cursor-pointer hover:bg-[#ED6E27] hover:text-white animate-bounce"
    >
      <a class="text-md font-semibold">Autenticarse</a>
    </div>
  </header>
  <div
    class="bg-white font-semibold text-7xl text-center flex flex-col justify-between h-1/2"
  >
    <div class="w-1/2 bg-[#8CC73E] h-full flex items-center">
      <p class="px-4 text-[#071B33]">Welcome to rindoor</p>
    </div>
  </div>
</div>
<!-- #071B33 azul -->
<!-- #8CC73E ve -->
<!-- #ED6E27 na -->
