<div class="h-screen mx-0">
  <header
    class="bg-[#071B33] text-white h-[4rem] px-4 flex items-center justify-around mx-0 font-semibold"
  >
    <div class="cursor-pointer">
      <div class="font-semibold text-2xl flex items-end text-[#F7AC0C]">
        <h3 class="-mr-2">FIXI</h3>
        <img src="Imagen2.png" class="w-14" />
      </div>
    </div>
    <nav class="w-1/2 flex justify-around text-lg items-center">
      <a> Inicio </a>
      <a> Empleos </a>
      <a> Nosotros </a>
    </nav>
    <div
      class="rounded-md bg-[#F7AC0C] px-4 py-1 cursor-pointer hover:bg-white hover:text-[#F7AC0C]"
    >
      <a class="text-md font-semibold">Autenticarse</a>
    </div>
  </header>
  <div
    class="bg-white font-semibold text-7xl text-center flex flex-col justify-between h-1/4"
  >
    <div class="w-full flex">
      <div class="w-1/2 h-full flex items-center">
        <p class="px-4 text-[#071B33]"></p>
      </div>
      <div class="w-1/2">
        <img src="plumber4.svg" class="w-[30rem] my-10 rounded-md mx-auto" />
      </div>
    </div>
  </div>
</div>
